html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 400px;
    width: 900px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#quote-box {
    height: 300px;
    width: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

.fa-quote-left {
    margin: 20px;
}

#text {
    color: white;
    height: 150px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#author {
    color: white;
    padding: 40px;
    text-align: center;
}
